@tailwind base;

@font-face {
  font-family: "Dark Crow";
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url("../fonts/DarkCrowItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url("../fonts/Mona-Sans.var.woff2") format("woff2");
}
